.App {
  text-align: center;
}
.link-o{
    color: white;
    font-size: larger;
    text-decoration: none;
}
.links-1{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
